<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-md-3" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">HARD</h4>
                    <p class="card-text">Are you looking for an extreme experience in which to test yourself? </p>
                    <div id="text1" class="collapse">
                        Try our skydiving, bungee jumping, paragliding and many more packages.
                    </div>
                    <button data-toggle="collapse" data-target="#text1"
                        style="border-radius: 100%; margin-bottom: 10px;margin-top:10px; margin-left: 140px;">+</button>
                    <img class="card-img" src="../../../assets/img/paracaidas.jpg" alt="people skydiving">
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">MEDIUM</h4>
                    <p class="card-text"> Are you looking for a fun experience to go with your friends or family? </p>
                    <div id="text2" class="collapse">
                        Try our climbing, paintball, snorkeling and much more packages.
                    </div>
                    <button data-toggle="collapse" data-target="#text2"
                        style="border-radius: 100%; margin-bottom: 10px;margin-top:10px; margin-left: 140px;">+</button>
                    <img class="card-img" src="../../../assets/img/rocodromo.jpg" alt="climbing">
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-5 col-md-offset-1" style="margin-top: 50px;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">SOFT</h4>
                    <p class="card-text">Are you looking for a quiet experience perfect for going with children? </p>
                    <div id="text3" class="collapse">
                        Try our zoo, buggy, boat and many more packages.
                    </div>
                    <button class="" data-toggle="collapse" data-target="#text3"
                        style="border-radius: 100%; margin-bottom: 10px;margin-top:10px; margin-left: 140px;">+</button>
                    <img class="card-img" src="../../../assets/img/leon.jpg" alt="lion in zoo">
                </div>
            </div>
        </div>
    </div>
</div>
